<!-- _navbar.html.erb -->
<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Left Side: Logo -->
    <div>
      <a href="/" class="text-white text-lg font-bold">
        <i class="fa fa-coffee"></i> Event Api
      </a>
    </div>

    <!-- Right Side: Sign Up/Login or Logout -->
    <div class="flex items-center">
      <% if user_signed_in? %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "bg-white text-blue-500 px-4 py-2 rounded-full" %>
      <% else %>
        <%= button_to "Sign Up", new_user_registration_path, class: "bg-white text-blue-500 px-4 py-2 rounded-full mr-2" %>
        <%= button_to "Login", new_user_session_path, class: "bg-white text-blue-500 px-4 py-2 rounded-full" %>
      <% end %>
    </div>
  </div>
</nav>
