<h1 class="text-3xl font-bold underline">
  Run Campaign Event!
</h1>

<%= form_tag(event_process_action_path, method: :post, id: 'action_form', class: 'max-w-md mx-auto p-4 bg-gray-100 shadow-md rounded') do %>
  <label for="email" class="block text-gray-700 font-semibold mb-2">Email:</label>
  <%= text_field_tag :email, nil, required: true, class: 'w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500' %>
  <small class="text-red-500">Please enter a valid email address.</small>

  <label for="event_action" class="block text-gray-700 font-semibold mt-4 mb-2">Choose an action:</label>
  <%= select_tag :event_action, options_for_select(['Send user a campaign email', 'Get user events']), class: 'w-full px-4 py-2 border rounded focus:outline-none focus:border-blue-500' %>

  <%= submit_tag 'Submit', disabled: true, id: 'submit_button', class: 'mt-4 px-4 py-2 bg-blue-500 text-white rounded cursor-pointer hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800 disabled:bg-gray-300 disabled:cursor-not-allowed' %>
<% end %>

<script>
  $(document).ready(function() {
    var form = $('#action_form');
    var actionSelect = $('#event_action');
    var submitButton = $('#submit_button');
    var emailInput = $('#email');

    emailInput.on('input', function() {
      submitButton.prop('disabled', !$(this).val().trim());
    });
  });
</script>
